{minimum_otp_vsn, "28"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {arizona_core, {git, "https://github.com/Taure/arizona_core.git", {branch, "main"}}},
    {cowboy, "2.14.2"}
]}.

% See https://github.com/ninenines/cowboy/issues/1670
{overrides, [{override, cowboy, [{deps, [{cowlib, "~> 2.15"}, {ranch, "~> 2.0"}]}]}]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [
        arizona_core,
        cowboy,
        cowlib,
        ranch
    ]},
    {warnings, [
        unknown,
        unmatched_returns
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            nowarn_missing_spec,
            warnings_as_errors
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_checks, []}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{project_plugins, [
    {erlfmt, "1.7.0"}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/*.erl",
        "test/**/*.erl"
    ]}
]}.
